body {
	background: #000;
	font-family: "Lucida Sans Unicode", "Lucida Grande", "sans-serif";
	overflow: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor:default;
}
#container {
	position:absolute;
	width:640px;
	height:480px;
	top:0;
	left:0;
}

#gameCanvas > div {
	position:absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	overflow:hidden;

}
#background {
	position:absolute;
	background: #fff url(../res/images/bg.jpg);
	background-size:100% auto;
	top: 0; bottom: 0; left: 0; right: 0;
}
#foreground {
	position:absolute;
	left:0;
	bottom:0;
	
}
#foreground img {
	position:absolute;
	bottom:0;
}
#gameCanvas #content.adv{
	position:absolute;
	color:#fff;
	height:35%;
	top:65%;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor:default;
}

#nameBox{
	background:rgba(0,0,0,.5);
	display: inline-block;
	padding:4px;
	font-weight: bold;
}
#textBox{
	background:rgba(0,0,0,.5);
	padding:4px;
	height:100%;

}
#menu {
	position:absolute;
	bottom:3px;
	right:10px;
	display:inline-block;
	font-weight:bold;
}
#menu a{
	text-decoration:none;
	font-size:25px;
	color:#fff;
}
#menu  a :hover {
	font-size:20px;
	color:rgb(50,50,50);
}
#foreground.char > div {
	position:absolute;
	display:inline;
}